h1{
  text-align: center;
}

.search-container{
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;

}

.book-search{
  justify-self: center;
}

.book-search input{
width: 40vw;
border-radius: .5rem;
height: 2.5rem;
}
.search-button{
  margin-bottom: .25rem;
  height: 2.5rem;
}

.books-found{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3rem;

}


.card{
  justify-self: center;
  width: 23vw;
  max-height: auto;

}

.card-body{
  text-align: center;
  align-self: center !important;
}
.card-text{
  max-height: 5vh;
  overflow: hidden;
}

.card-img-top{
 align-self: center;
 display: block;
 margin-top: 2rem;
 margin-bottom: 2rem;
  height: 50%;
  width: 40% !important;
  object-fit: cover;
}

.description{
  width: 80%;
  align-self: center;
  margin: 1.5rem 0;

}

.page-nav{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.page-nav ul{
  margin-top: 2rem;
}



@media (max-width: 820px) {
  .books-found{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .card{
    justify-self: center;
    width: 30vw !important;
    max-height: auto;
  
  }

  .description{
    font-size : .5rem !important;
  }
 }

 @media (max-width: 650px) {
  .books-found{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .card{
    justify-self: center;
    width: 30vw !important;
    max-height: auto;
  
  }

  .card-body{
    font-size: .5rem;
  }
  .card-body h5{
    font-size: .8rem;
  }

  .description{
    font-size : .5rem !important;
  }
 }